
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    margin-top:40px;
    min-width: 100vh;
    background-color: green;
    min-height: 40vh;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(170, 170, 170,0.25);
    border-radius: 10px;
}
.card ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:black;
    list-style: none;
}

.label-left {
    display: flex;
    flex-direction: column;
}
.label-left .title {
    font-size: 24px;
    font-weight: bold;
    /* Dùng linear-gradient cho text */
    background: linear-gradient(135deg, #2233cc 0%, #7028e2 50%, #5aa9f7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
}
.label-left .description {
    font-size: 16px;
    color:rgb(102, 101, 101);
}
.container-head {
    display: flex;
    margin-top: 30px;
}

.container-head .label-left {
    margin-left: 20px;
}
.container-head .label-right {
    margin-right: 20px;
}
.label-right {
    margin-left: auto;
}
.form-list {
    margin-top: 20px;
}
.button-right {
    margin-left: 20px;
}
.button-right button {
    padding:5px 8px;
    border:none;
    border-radius:6px;
    background-color: white;
    border:0.1px solid rgb(236, 235, 235);
    cursor: pointer;
}
#action_btn {
    padding: 8px 16px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 3px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    color:rgb(71, 71, 71);
    cursor: pointer;
}
#action_btn:hover {
    /* color:rgb(71, 71, 71); */

    box-shadow: 0 0 8px rgba(197, 197, 197,0.5);

}
#filter {
    padding: 8px 16px;
    outline: none;
    border: 0.2px solid rgba(170, 170, 170,0.2);
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(197, 197, 197,0.5);
}
