<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',path='css/style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    {% block head_css %}{% endblock %}
    <script src="{{ url_for('static',path='js/script.js') }}"></script>
    <script src="{{ url_for('static',path='js/api.js') }}"></script>
</head>
<body>
    <div class="container-nav">
        <nav class="nav-bar">
            <a class="nav-link" href="">Template</a>
            <a class="nav-link" href="">Blog</a>
            <a class="nav-link" href="">FAQ</a>
            <a class="nav-link" href="">API Docs</a>
            <a class="nav-link" href="">More Free</a>
        </nav>
        <nav class="nav-login">
            <a href="/sign-up">Sign up</a>
            <a href="/login">Login</a>
        </nav>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>