<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',path='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    {% block head_css %}{% endblock %}
</head>
<body>
    <nav class="nav-bar">
        <a class="nav-link" href="">Template</a>
        <a class="nav-link" href="">Blog</a>
        <a class="nav-link" href="">FAQ</a>
        <a class="nav-link" href="">API Docs</a>
        <a class="nav-link" href="">More Free</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static',path='js/script.js') }}"></script>
</body>
</html>