<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <nav class="nav-bar">
        <a class="nav-link" href="">Template</a>
        <a class="nav-link" href="">Blog</a>
        <a class="nav-link" href="">FAQ</a>
        <a class="nav-link" href="">API Docs</a>
        <a class="nav-link" href="">More Free</a>
    </nav>

    <div class="container">
        <div class="card">
            <div class="form-wrapper">
                <form class="card-form" action="/add">
                    <div>List name</div>
                    <input type="text">
                    <div>Examples: "Groceries", "Project Tasks", "Weekend Plans", etc.</div>
                    <div>Description (optional)</div>
                    <input type="text">
                    <div>
                        <button>Create</button>
                    </div>
                </form>
            </div>
            <div>
                <button>Back to home</button>
            </div>
        </div>
    
    </div>
</body>
</html>