{% extends "base.html" %}
{% block title %} Ghi chú của bạn {% endblock %}
{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/list-note.css') }}">
{% endblock %}
{% block content %}


<div class="container">
    <div class="card">
        <div class="container-head">
            <div class="label-left">
                <span class="title">{{note.note_name}}</span>
                <span class="description">{{note.note_descriptions}}</span>
            </div>
            <div class="label-right">
                <input id="filter" type="text" placeholder="Fillter " required>
                <button id="action_btn">Action</button>
            </div>
        </div>
        <div class="form-main">
            <div class="form-list">
                <div class="div-btn-h1">
                    <button class="sort-button">
                        <i class="fa fa-rotate-right" style="color: #2596f2; margin-right:4px;"></i>
                        Sort: Default
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="margin-left: 4px;vertical-align: middle;">
                            <path d="M5 8L10 13L15 8" stroke="#8B96A5" strokeWidth="2" strokeLinecap="round"strokeLinejoin="round"/>
                         </svg>
                         <div class="tooltip-label">
                            <span>Sort by</span>
                            <div>aaaaaaaaaaaaaaaaaaaaaaaaaa</div>
                         </div>
                    </button>

                     <button>
                        <i class="fa fa-rotate-right" style="color: #2596f2; margin-right:4px;"></i>
                        Archive
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" style="margin-left: 4px;vertical-align: middle;">
                            <path d="M5 8L10 13L15 8" stroke="#8B96A5" strokeWidth="2" strokeLinecap="round"strokeLinejoin="round"/>
                         </svg>
                    </button>

                </div>
                
                <div class="div-task">
                    <div class="work-name">
                        <input id="work" type="text" placeholder="Add a new task" required>
                        <button class="work-button">Add</button>
                    </div>
                    <ul>
                        <li>
                            {{note.note_name}} | {{note.note_descriptions}}<br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}