{% extends "base.html" %}
{% block title %} Login {%endblock%}


{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/login.css') }}">
{% endblock %}

{% block content %}
<div>
    <div class="main">
        <div class="login-form">
            <div class="label-login">
                Welcome Back
            </div>
            <form action="">
                <div>
                    <div class="label">Email</div>
                    <input id="email" type="text" placeholder="you@example.com" required>
                </div>
                <div>
                    <div class="label">Password</div>
                    <input id="password" type="text" placeholder="Your password" required>
                </div>
                
                <div id="login-containter">
                    <a id="label-fw" href="/fwpw" >forgot password?</a>
                    <button id="login">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}